@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

*{
    margin: 0;
    padding: 0;
}


body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Aboreto', cursive;
    gap:3vh;
    background-image: linear-gradient(to right, #DECBA4, #cae9e9);
}

h1{
    font-size: 500%;
    margin-bottom: 20px;
}

h2{
    font-size: 180%;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul li{
    font-size: 125% ;
    list-style-type: none;
    margin: 8px;
    text-underline-offset: 5px;
   
}

footer{
    position: fixed;
    bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* .last-code{
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

@media only screen and (max-width: 480px) {
    /* h1 {
      padding: auto;
    } */

    h1, h2{
        text-align: center;
    }


    body{
        height:100vh;
    }

    footer{
        position: static;
    }

    ul{
        margin-left: 1vw;
        margin-right:1vw;
    }
  }